$color1: #EBC14B;
$color2: #000000;
$color3: #f7f8f3;
$color4: #E3BA48;
$color5: #FFFFFF;
$color6: #EBC14B;
$color7: #5d645a;

body {
	background-color: $color3;
}

header.stiky-header {
	border-bottom: 2px solid $color3;
	background-color: $color4;
}

.side-navi ul li.current a {
	-webkit-box-shadow: 0 0 0 2px $color1;
	-moz-box-shadow: 0 0 0 2px $color1;
	box-shadow: 0 0 0 2px $color1;
}
.jumbotron {
	background-color: $color1;
}
.gallery li.gall-expanded > a::after {
	border-bottom-color: $color1;
}
.gall-expander {
	background: $color1;
}
.pricing-plan .header, .wizard .header {
	background-color: $color2;
}
.btn-primary, .btn-primary[disabled] {
	background-color: $color2;
}
.btn-primary:hover {
	background-color: $color4;
}
#features .pricing-plan .header {
	background-color: $color1;
}
.pricing-plan .body {
	background-color: $color3;
}
.pricing-plan:hover .body {
	background-color: $color5;
}
.hero {
	border-top: 20px solid $color3;
	background-color: $color1;
}
.page-block.color {
	background-color: $color1;
}
.social-networks a:hover {
	color: $color1;
}
.footer {
	background-color: $color4;
}
.cs-page header {
	background-color: $color1;
}
.cs-page .footer {
	background-color: $color1;
}
.coming-soon header {
	background-color: $color1;
}
.middle-block {
	background-color: $color1;
}
.stiky-header {
	border-bottom-color: $color1;
}
.main-navi ul li:hover a {
	color: $color3;
}
.main-navi ul li.active a {
	color: $color3;
	border-top-color: $color3;
}

@media screen and (max-width: 991px) {
	.main-navi.open {
		border-bottom-color: $color1;
	}
	.main-navi ul li a:hover {
		color: $color3;
	}
	.main-navi ul li.active a {
		color: $color1;
		border-left-color: $color1;
	}
}

.panel > .panel-heading.collapsed:hover {
	background-color: $color6;
}

#scroll-top {
	background-color: $color2;
}
#scroll-top:hover {
	background-color: $color7;
}
