// use this file for bad-practice ultima fixes

// ultima uses relative path in font face definition, we need to fix that
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-76hsjj');
	src:url('/fonts/icomoon.eot?#iefix-76hsjj') format('embedded-opentype'),
	url('/fonts/icomoon.woff?-76hsjj') format('woff'),
	url('/fonts/icomoon.ttf?-76hsjj') format('truetype'),
	url('/fonts/icomoon.svg?-76hsjj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// ultima uses relative path in font face definition, we need to fix that
@font-face {
	font-family: 'FontAwesome';
	src: url('/fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

// ultima uses relative path in hero background definition, we need to fix that
.hero {
	background-image: url(/images/hero-bg.png);
}

// replace jQuery implementation of navigation show/hide and use ng-show instead
.main-navi {
	display: block; // hiding is done by element style with angularJS
}

@media (min-width: 992px) {
	.main-navi, .main-navi.ng-hide:not(.ng-hide-animate) {
		display: block !important;
	}
}

// allow wider mobile logos
.stiky-header .logo-mobile {
	max-width: 205px;
}

// for some reason, alerts are not in our bootstrap.min.css
$font-size-base:          14px !default;
$line-height-base:        1.428571429 !default;

$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

$border-radius-base:        4px !default;

$state-success-text:             #3c763d !default;
$state-success-bg:               #dff0d8 !default;
$state-success-border:           darken(adjust-hue($state-success-bg, -10), 5%) !default;

$state-info-text:                #31708f !default;
$state-info-bg:                  #d9edf7 !default;
$state-info-border:              darken(adjust-hue($state-info-bg, -10), 7%) !default;

$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-warning-border:           darken(adjust-hue($state-warning-bg, -10), 5%) !default;

$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;
$state-danger-border:            darken(adjust-hue($state-danger-bg, -10), 5%) !default;

$alert-padding:               15px !default;
$alert-border-radius:         $border-radius-base !default;
$alert-link-font-weight:      bold !default;

$alert-success-bg:            $state-success-bg !default;
$alert-success-text:          $state-success-text !default;
$alert-success-border:        $state-success-border !default;

$alert-info-bg:               $state-info-bg !default;
$alert-info-text:             $state-info-text !default;
$alert-info-border:           $state-info-border !default;

$alert-warning-bg:            $state-warning-bg !default;
$alert-warning-text:          $state-warning-text !default;
$alert-warning-border:        $state-warning-border !default;

$alert-danger-bg:             $state-danger-bg !default;
$alert-danger-text:           $state-danger-text !default;
$alert-danger-border:         $state-danger-border !default;

@mixin alert-variant($background, $border, $text-color) {
	background-color: $background;
	border-color: $border;
	color: $text-color;

	hr {
		border-top-color: darken($border, 5%);
	}
	.alert-link {
		color: darken($text-color, 10%);
	}
}

.alert {
	padding: $alert-padding;
	margin-bottom: $line-height-computed;
	border: 1px solid transparent;
	border-radius: $alert-border-radius;

	// Headings for larger alerts
	h4 {
		margin-top: 0;
		// Specified for the h4 to prevent conflicts of changing $headings-color
		color: inherit;
	}

	// Provide class for links that match alerts
	.alert-link {
		font-weight: $alert-link-font-weight;
	}

	// Improve alignment and spacing of inner content
	> p,
	> ul {
		margin-bottom: 0;
	}

	> p + p {
		margin-top: 5px;
	}
}

.alert-success {
	@include alert-variant($alert-success-bg, $alert-success-border, $alert-success-text);
}

.alert-info {
	@include alert-variant($alert-info-bg, $alert-info-border, $alert-info-text);
}

.alert-warning {
	@include alert-variant($alert-warning-bg, $alert-warning-border, $alert-warning-text);
}

.alert-danger {
	@include alert-variant($alert-danger-bg, $alert-danger-border, $alert-danger-text);
}

// ultima didn't change the input addon border color
.input-group-addon { border-color: #313447; }

#spinner {
	background: url(/images/spinner.gif) no-repeat;
}
