// use this file for bad-practice ultima fixes

// ultima uses relative path in font face definition, we need to fix that
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-76hsjj');
	src:url('/fonts/icomoon.eot?#iefix-76hsjj') format('embedded-opentype'),
	url('/fonts/icomoon.woff?-76hsjj') format('woff'),
	url('/fonts/icomoon.ttf?-76hsjj') format('truetype'),
	url('/fonts/icomoon.svg?-76hsjj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

// ultima uses relative path in font face definition, we need to fix that
@font-face {
	font-family: 'FontAwesome';
	src: url('/fonts/fontawesome-webfont.eot?v=4.0.3');
	src: url('/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal
}

// ultima uses relative path in hero background definition, we need to fix that
.hero {
	background-image: url(/images/hero-bg.png);
}

// replace jQuery implementation of navigation show/hide and use ng-show instead
.main-navi {
	display: block; // hiding is done by element style with angularJS
}
