// use this file for bad-practice ultima fixes

// ultima uses relative path in font face definition, we need to fix that
@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-76hsjj');
	src:url('/fonts/icomoon.eot?#iefix-76hsjj') format('embedded-opentype'),
	url('/fonts/icomoon.woff?-76hsjj') format('woff'),
	url('/fonts/icomoon.ttf?-76hsjj') format('truetype'),
	url('/fonts/icomoon.svg?-76hsjj#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
