.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 768px) {
	.row-vertical-sm-flex-end {
		display: flex;
		align-items: flex-end;
	}
}

@media (min-width: 992px) {
	.row-vertical-md-flex-end {
		display: flex;
		align-items: flex-end;
	}
}

@media (min-width: 1200px) {
	.row-vertical-lg-flex-end {
		display: flex;
		align-items: flex-end;
	}
}

.pricing-plan .header h3 {
	text-transform: none;
}
.hero {
	padding-bottom: 35px;
}

.product-page p {
	font-size: 1.7em;
	font-weight: 300;
	line-height: 1.42857143;
}

.features .feature-img {
	height: 96px;
	width: 96px;
}

#pricing h3 img {
	display: inline;
	margin-bottom: -10px;
	margin-right: 8px;
	vertical-align: baseline;
}

#features h3 img {
	margin: 0 auto 24px;
}

#features .pricing-plan small {
	color: #FFF;
	display: block;
	font-weight: normal;
}

a.logo {
	color: #000;
	font-size: 48px;
}

a.logo img {
	display: inline;
}
