.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.col-sm-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-5ths {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-5ths {
		width: 20%;
		float: left;
	}
}

@media (min-width: 768px) {
	.row-vertical-sm-flex-end {
		display: flex;
		align-items: flex-end;
	}
}

@media (min-width: 992px) {
	.row-vertical-md-flex-end {
		display: flex;
		align-items: flex-end;
	}
}

@media (min-width: 1200px) {
	.row-vertical-lg-flex-end {
		display: flex;
		align-items: flex-end;
	}
}

.pricing-plan .header h3 {
	text-transform: none;
}
.hero {
	padding-bottom: 35px;
}

.features [class^="icon-"], .features [class*=" icon-"] {
	font-size: 8em;
}

.pricing-plan [class^="icon-"], .pricing-plan [class*=" icon-"] {
	font-size: 2em;
	margin-right: 8px;
	vertical-align: -15%;
}

#faq .icon {
	font-size: 12em;
	margin-bottom: .2em;
	text-align: center;
}

#hero .icon {
	font-size: 20em;
}

#hero a {
	color: #660000;
	font-weight: bold;
}

#pricing h3 {
	line-height: 1.8em;
}

#pricing h3 img {
	display: inline;
	margin-bottom: -10px;
	margin-right: 8px;
	vertical-align: baseline;
}

.product h2 [class^="icon-"], .product h2 [class*=" icon-"] {
	font-size: 1.2em;
	vertical-align: -15%;
}

#footer {
	padding-top: 0;
}

a.logo-mobile {
	margin-bottom: 8px;
}

.pricing-plan .header {
	padding: 25px 0 18px 0;
}
.pricing-plan .body ul li {
	padding: 18px 10px;
}
.pricing-plan .body ul {
	margin-bottom: 30px;
}
.col-sm-5ths .btn {
	padding: 13px 0;
}
.pricing-plan .buy-btn {
	padding: 0 45px;
}
@media (min-width: 768px) {
	.pricing-plan .buy-btn {
		padding: 0 16px;
	}
}
@media (min-width: 992px) {
	.pricing-plan .buy-btn {
		padding: 0 32px;
	}
}
@media (min-width: 1200px) {
	.pricing-plan .buy-btn {
		padding: 0 45px;
	}
}

.pointer {
	cursor: pointer;
}


@-webkit-keyframes anim-rotate8 {
	 0.0000% {-webkit-transform:rotate(  0deg)}
	12.4999% {-webkit-transform:rotate(  0deg)}
	12.5000% {-webkit-transform:rotate( 45deg)}
	24.9999% {-webkit-transform:rotate( 45deg)}
	25.0000% {-webkit-transform:rotate( 90deg)}
	37.4999% {-webkit-transform:rotate( 90deg)}
	37.5000% {-webkit-transform:rotate(135deg)}
	49.9999% {-webkit-transform:rotate(135deg)}
	50.0000% {-webkit-transform:rotate(180deg)}
	62.4999% {-webkit-transform:rotate(180deg)}
	62.5000% {-webkit-transform:rotate(225deg)}
	74.9999% {-webkit-transform:rotate(225deg)}
	75.0000% {-webkit-transform:rotate(270deg)}
	87.4999% {-webkit-transform:rotate(270deg)}
	87.5000% {-webkit-transform:rotate(315deg)}
	99.9999% {-webkit-transform:rotate(315deg)}
}

.spinner {
	-webkit-animation: anim-rotate8 1s linear infinite;
	transition: opacity .6s;
	display: inline-block;
}

p {
	margin-top: 5px;
}

.table {
	margin-bottom: 20px;
}

.wizard .header h3 {
	margin-bottom: 7px;
}

.hero li {
	font-size: 1.3em;
	font-weight: 300;
	line-height: 1.5;
}

@media (min-width: 768px) {
	.hero li {
		list-style: initial;
	}

	.hero li:before {
		content: "";
		margin: auto;
	}

	.hero-slider .row {
		display: table;
		margin: 0;
	}

	.hero-slider .col-lg-6, .hero-slider .col-md-6 {
		display: table-cell;
		vertical-align: bottom;
		float: none;
	}
}

dt [class^="icon-"], dt [class*=" icon-"] {
	margin-right: 10px;
}
dd {
	margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
	dl {
		text-align: center;
	}
}
