section#contacts.page-block.contacts
	.container
		.row.page-header
			h2 Contacts
			span Subtext for header
		.row
			.col-lg-4.col-md-4
				.row.space-bottom
					.col-lg-9.col-md-9
						h3 What we do
					.col-lg-3.col-md-3
						img.img-center(src="bower_components/ultima/img/contacts/man.png", alt="About Us")
				.row
					.col-lg-12
						p.text-justify
							| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
			.col-lg-3.col-md-4.col-lg-offset-1
				.row.space-bottom
					.col-lg-8.col-md-8
						h3 Adress
					.col-lg-4.col-md-4
						img.img-center(src="bower_components/ultima/img/contacts/map.png", alt="Adress")
				.row
					.col-lg-12
						p 4120 Lenox Avenue, New York, NY, 10035 76 Saint Nicholas Avenue
				.row.space-bottom
					.col-lg-8.col-md-8
						h3 Contacts
					.col-lg-4.col-md-4
						img.img-center(src="bower_components/ultima/img/contacts/phone.png", alt="Contacts")
				.row
					.col-lg-12
						p
							| +48 555 234 54 34
							br
							| +48 555 234 54 33
							br
							| info@email.com
							br
							| support@email.com
			.col-lg-3.col-md-4.col-lg-offset-1
				.row.space-bottom
					.col-lg-8.col-md-8
						h3 Contact us
					.col-lg-4.col-md-4
						img.img-center(src="bower_components/ultima/img/contacts/plan.png", alt="Adress")
				.row
					.col-lg-12
						form.feedback-form(role="form")
							.form-group
								label.sr-only(for="name1") Name
								input#name1.form-control(type="text", name="name", placeholder="Name", required="")
							.form-group
								label.sr-only(for="email1") Email
								input#email1.form-control(type="email", name="email", placeholder="Email", required="")
							.form-group
								label.sr-only(for="message") Message
								textarea#message.form-control(name="message", rows="5", placeholder="Message", required="")
							button.btn.btn-primary(type="submit") Submit
		
