div.wizard(ng-controller="DyndnsSignupCtrl")
	div.header
		h3(translate="products.dyndns.signup.headline")
	form.wizard-form.body(novalidate, name="dyndnssignup")
		
		.wizard-step.active
			.tabs
				.tab.active
					.row(ng-show="error")
						.col-sm-12
							.alert.alert-danger(translate="{{error}}")
					.row(ng-show="success")
						.col-sm-12
							.alert.alert-success(translate="products.dyndns.signup.success")
					.row
						.col-sm-12
							.form-group
								label(for="email", translate="products.dyndns.signup.email.label")
								input.form-control(type="email", name="email", ng-model="email", ng-disabled="user.username || loading || success", placeholder="{{ 'products.dyndns.signup.email.placeholder' | translate }}", required="")
						.col-sm-12
							.form-group
								label(for="domain", translate="products.dyndns.signup.domains.label")
								|  
								span(ng-show="!dyndnssignup.domain.$valid && !dyndnssignup.domain.$pristine",translate="products.dyndns.signup.domains.invalid")
								.input-group
									input.form-control.text-right(type="text", name="domain", pattern="[A-Za-z][A-Za-z0-9\-]*", ng-model="domain", ng-disabled="loading || success", placeholder="{{ 'products.dyndns.signup.domains.placeholder' | translate }}", required="")
									span.input-group-addon .dedyn.io
		.wizard-footer.group
			.buttons
				button.btn.btn-primary(ng-disabled="loading || success || !dyndnssignup.domain.$valid", ng-click="signup()", analytics-on="click",analytics-event="attemptsignup",analytics-category="dyndns")
					span.icon-spinner.spinner(ng-show="loading")
					|  
					| {{ 'products.dyndns.signup.signup' | translate }}
				button.btn.btn-primary(ng-hide="!success", ng-disabled="!success", ui-sref="i18n.tools.dyndns({lang: lang,domain: domain + '.dedyn.io'})",translate="products.dyndns.signup.check")
				
