section#faq.page-block.faq
	.container
		.row.page-header
			h2 FAQ
			span Subtext for header
		.row
			.col-lg-3.col-md-4.col-sm-4
				img.img-center(src="bower_components/ultima/img/faq-icon.png", alt="FAQ")
			.col-lg-8.col-md-8.col-sm-8
				#accordion-faq.panel-group
					.panel
						a.panel-heading.collapsed(data-toggle="collapse", data-parent="#accordion-faq", href="#collapse1")
							| FAQ 01
							.indicator
								.icon
									span.hr-line
									span.vr-line
						#collapse1.panel-collapse.collapse
							.panel-body
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
					.panel
						a.panel-heading.collapsed(data-toggle="collapse", data-parent="#accordion-faq", href="#collapse2")
							| FAQ 02
							.indicator
								.icon
									span.hr-line
									span.vr-line
						#collapse2.panel-collapse.collapse
							.panel-body
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
					.panel
						a.panel-heading(data-toggle="collapse", data-parent="#accordion-faq", href="#collapse3")
							| FAQ 03
							.indicator
								.icon
									span.hr-line
									span.vr-line
						#collapse3.panel-collapse.collapse.in
							.panel-body
								| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione.
		
