section#faq.page-block.faq(analytics-on="scrollby", analytics-event="scroll", analytics-category="faq")
	.container
		.row.page-header
			h2(translate="faq.headline")
			//span(translate="faq.subheadline")
		.row
			.col-lg-3.col-md-4.col-sm-4
				img.img-center(src="bower_components/ultima/img/faq-icon.png", alt="FAQ")
			.col-lg-8.col-md-8.col-sm-8
				#accordion-faq.panel-group(ng-controller="FaqCtrl")
					.panel(ng-repeat="n in [1,2,3,4,5,6,7,8]")
						a.panel-heading.collapsed(ng-click="showFaq($index+1)",ng-class="{collapsed: faq!={{n}} }",href="")
							span(translate="faq.q{{n}}.title")
							.indicator
								.icon
									span.hr-line
									span.vr-line
						.panel-collapse(ng-class="{collapse: faq!={{n}} }")
							.panel-body(translate="faq.q{{n}}.content")
