section#features.page-block(analytics-on="scrollby", analytics-event="features", analytics-category="scroll")
	.container
		.row.page-header
			h2(translate="features.headline")
		.row.features
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="/images/features/feature1.png", alt="{{'features.easy.title'|translate}}")
				h3(translate="features.easy.title")
				p(translate="features.easy.content")
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="/images/features/feature2.png", alt="{{'features.availability.title'|translate}}")
				h3(translate="features.availability.title")
				p(translate="features.availability.content")
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="/images/features/feature3.png", alt="{{'features.dnssec.title'|translate}}")
				h3(translate="features.dnssec.title")
				p(translate="features.dnssec.content")
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="/images/features/feature4.png", alt="{{'features.dane.title'|translate}}")
				h3(translate="features.dane.title")
				p(translate="features.dane.content")
	// Tabs
	//.container-fluid
		.row
			// Nav tabs
			ul.nav.nav-tabs.central
				li.active
					a(href="#clean-code", data-toggle="tab") Clean Code
				li
					a(href="#font-icons", data-toggle="tab") Font Icons
				li
					a(href="#more", data-toggle="tab") More
	// Tab panes
	//.container
		.row.tab-content.central
			#clean-code.tab-pane.fade.in.active.col-lg-12
				.row
					.col-lg-6.col-md-6.animated.fadeInLeft
						img(src="bower_components/ultima/img/features/1.png", alt="Clean Code")
					.col-lg-6.col-md-6.animated.fadeInRight
						.row
							.col-lg-12
								h2 Clean code
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-support
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-map
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
						.row
							.col-lg-2
								i.feature-icon.icon-gift
							.col-lg-10
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			#font-icons.tab-pane.fade.col-lg-12
				.row
					.col-lg-6.col-md-6.animated.fadeInLeft
						img(src="bower_components/ultima/img/features/2.png", alt="Font Icons")
					.col-lg-6.col-md-6.animated.fadeInRight
						.row
							.col-lg-12
								h2 800+ Font icons
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-scissors
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-code
							.col-lg-10
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			#more.tab-pane.fade.col-lg-12
				.row
					.col-lg-6.col-md-6.animated.fadeInLeft
						img.img-center(src="bower_components/ultima/img/features/3.png", alt="More Features")
					.col-lg-6.col-md-6.animated.fadeInRight
						.row
							.col-lg-12
								h2 More features overview
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-youtube
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-compass
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
						.row
							.col-lg-2
								i.feature-icon.icon-cog
							.col-lg-10
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
		
