section#features.page-block.color
	.container
		.row.page-header
			h2 Features
			span Subtext for header
		.row.features
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="bower_components/ultima/img/features/feature1.png", width="124", height="120", alt="Editable colors")
				h3(translate="features.anycast.title")
				p(translate="features.anycast.content")
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="bower_components/ultima/img/features/feature2.png", width="131", height="131", alt="All you need for start")
				h3(translate="features.geo.title")
				p(translate="features.geo.content")
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="bower_components/ultima/img/features/feature3.png", width="72", height="72", alt="Clean code")
				h3(translate="features.dyn.title")
				p(translate="features.dyn.content")
			.col-lg-3.col-md-3.col-sm-3
				.feature-img
					img(src="bower_components/ultima/img/features/feature4.png", width="72", height="72", alt="Clean code")
				h3(translate="features.tunnel.title")
				p(translate="features.tunnel.content")
	// Tabs
	//.container-fluid
		.row
			// Nav tabs
			ul.nav.nav-tabs.central
				li.active
					a(href="#clean-code", data-toggle="tab") Clean Code
				li
					a(href="#font-icons", data-toggle="tab") Font Icons
				li
					a(href="#more", data-toggle="tab") More
	// Tab panes
	//.container
		.row.tab-content.central
			#clean-code.tab-pane.fade.in.active.col-lg-12
				.row
					.col-lg-6.col-md-6.animated.fadeInLeft
						img(src="bower_components/ultima/img/features/1.png", alt="Clean Code")
					.col-lg-6.col-md-6.animated.fadeInRight
						.row
							.col-lg-12
								h2 Clean code
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-support
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-map
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
						.row
							.col-lg-2
								i.feature-icon.icon-gift
							.col-lg-10
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			#font-icons.tab-pane.fade.col-lg-12
				.row
					.col-lg-6.col-md-6.animated.fadeInLeft
						img(src="bower_components/ultima/img/features/2.png", alt="Font Icons")
					.col-lg-6.col-md-6.animated.fadeInRight
						.row
							.col-lg-12
								h2 800+ Font icons
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-scissors
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-code
							.col-lg-10
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
			#more.tab-pane.fade.col-lg-12
				.row
					.col-lg-6.col-md-6.animated.fadeInLeft
						img.img-center(src="bower_components/ultima/img/features/3.png", alt="More Features")
					.col-lg-6.col-md-6.animated.fadeInRight
						.row
							.col-lg-12
								h2 More features overview
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-youtube
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						.row
							.col-lg-2
								i.feature-icon.icon-compass
							.col-lg-10
								p.double-space-bottom
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
						.row
							.col-lg-2
								i.feature-icon.icon-cog
							.col-lg-10
								p
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
		
