section#features.page-block.color(analytics-on="scrollby", analytics-event="features", analytics-category="scroll")
	.container
		.row.page-header
			h2(translate="features.headline")
		.row.features
			.col-lg-3.col-md-3.col-sm-3
				span.icon-signup
				h3(translate="features.easy.title")
				p(translate="features.easy.content")
			.col-lg-3.col-md-3.col-sm-3
				span.icon-clock
				h3(translate="features.availability.title")
				p(translate="features.availability.content")
			.col-lg-3.col-md-3.col-sm-3
				span.icon-shield
				h3(translate="features.dnssec.title")
				p(translate="features.dnssec.content")
			.col-lg-3.col-md-3.col-sm-3
				span.icon-address-book
				h3(translate="features.dane.title")
				p(translate="features.dane.content")
