footer.footer#footer(analytics-on="scrollby", analytics-event="scroll", analytics-category="footer")
	.container
		.row
			.col-lg-12
				p.copyright
					| &#169; 2015 deSEC GbR Berlin 
					a(ui-sref="imprint",translate="imprint")
