footer.footer
	.container
		.row
			.col-lg-12
				h2.text-center.text-light Subscribe to our newsletter
				p.text-light.text-center
					| Sign up now to our newsletter and you"ll be one of the first to know when the site is ready:
		.row
			.col-lg-12
				p.copyright
					| &#169; 2014 ULTIMA. All Rights Reserved. Designed by
					a(href="http://8guild.com/", target="_blank") 8Guild
