footer.footer#footer(analytics-on="scrollby", analytics-event="footer", analytics-category="scroll")
	.container
		.row
			//.col-lg-12
			p.copyright
				span(translate="footer.content")
				span  •
				| 
				a(href="https://encrypt.to/0x3EF22D2F",onclick="return !window.open(this.href)",translate="footer.contact")
				span  •
				| 
				a(ui-sref="imprint",translate="footer.imprint")
