footer.footer#footer(analytics-on="scrollby", analytics-event="footer", analytics-category="scroll")
	.container
		.row
			//.col-lg-12
			p.copyright
				span(translate="footer.content")
				| 
				a(ui-sref="imprint",translate="footer.imprint")
