section#gallery.page-block
	.container
		.row.page-header
			h2 Gallery
			span Subtext for header
		.row
			ul.gallery
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/1.jpg", data-title="City Center", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_1.png", alt="thumb01")
						span.img-caption City Center
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/2.jpg", data-title="Beach Van", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_2.png", alt="thumb02")
						span.img-caption Beach Van
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/3.jpg", data-title="Tea Pot", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_3.png", alt="thumb03")
						span.img-caption Tea Pot
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/4.jpg", data-title="Railway Station", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_4.png", alt="thumb04")
						span.img-caption Railway Station
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/5.jpg", data-title="City Center", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_5.png", alt="thumb05")
						span.img-caption City Center
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/6.jpg", data-title="Bicycle Parking", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_6.png", alt="thumb06")
						span.img-caption Bicycle Parking
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/7.jpg", data-title="London Boat", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_7.png", alt="thumb07")
						span.img-caption London Boat
				li
					a(href="#", data-largesrc="bower_components/ultima/img/gallery/8.jpg", data-title="Apple Air", data-description="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.")
						img(src="bower_components/ultima/img/gallery/th_8.png", alt="thumb08")
						span.img-caption Apple Air
