header.stiky-header(ng-controller="NavigationCtrl")
	.container.group
		a.logo(ui-sref="i18n.home({lang: lang})",ng-click="top()")
			img(src="/images/logo.png", alt="deSEC")
		a.logo-mobile(ui-sref="i18n.home({lang: lang})",ng-click="top()")
			img(src="/images/umbrella.png", alt="deSEC")
		.navi-toggle.group(ng-click="open=!open")
			span.dot
			span.line
			span.dot
			span.line
			span.dot
			span.line
			span.dot
			span.line
		nav.main-navi(ng-show="open")
			ul
				li
					a(ui-sref="i18n.donation({lang: lang})",translate="menu.donation")
				li.has-dropdown
					a(href="")
						| {{ 'menu.docs.headline' | translate }}
						i.fa.fa-caret-down
					ul.dropdown
						li
							a(ui-sref="i18n.docs.dyndnsclient({lang: lang})",translate="menu.docs.dyndnsclient",ng-click="close()")
						li
							a(ui-sref="i18n.docs.updateapidetails({lang: lang})",translate="menu.docs.updateapidetails",ng-click="close()")
				li.has-dropdown
					a(href="")
						| {{ 'menu.tools.headline' | translate }}
						i.fa.fa-caret-down
					ul.dropdown
						li
							a(ui-sref="i18n.tools.logjam({lang: lang})",translate="menu.tools.logjam",ng-click="close()")
				li.has-dropdown
					a(href="")
						| {{ 'menu.products.headline' | translate }}
						i.fa.fa-caret-down
					ul.dropdown
						li
							a(ui-sref="i18n.product.dyndns({lang: lang})",translate="menu.products.dyndns",ng-click="close()")
						li
							a(ui-sref="i18n.product.anydns({lang: lang})",translate="menu.products.anydns",ng-click="close()")
				li.has-dropdown(ng-controller="LangChooserCtrl",ng-show="i18n.enabled")
					a(href="",ng-show="i18n")
						| Language
						i.fa.fa-caret-down
					ul.dropdown
						li(ng-repeat="l in i18n.otherLang")
							a(href="{{ i18n.href[l] }}",ng-click="close()") {{ l | translate }}
