header.stiky-header
	.container.group
		a.logo(ui-sref="i18n.home({lang: lang})")
			img(src="/bower_components/ultima/img/logo-dark.png", alt="deSEC")
		a.logo-mobile(ui-sref="i18n.home({lang: lang})")
			img(src="/bower_components/ultima/img/logo-mobile.png", alt="deSEC")
		.navi-toggle.group
			span.dot
			span.line
			span.dot
			span.line
			span.dot
			span.line
			span.dot
			span.line
		nav.main-navi
			ul
				li.active
					a.scroll-up(ui-sref="i18n.home({lang: lang})",translate="menu.home")
				li.has-dropdown
					a.scroll(ui-sref="i18n.home({lang: lang})")
						| {{ 'menu.products.headline' | translate }}
						i.fa.fa-caret-down
					ul.dropdown
						li
							a(ui-sref="i18n.product.dyndns({lang: lang})",translate="menu.products.dyndns")
						li
							a(ui-sref="i18n.product.tunneldns({lang: lang})",translate="menu.products.tunneldns")
						li
							a(ui-sref="i18n.product.anydns({lang: lang})",translate="menu.products.anydns")
						li
							a(ui-sref="i18n.product.geodns({lang: lang})",translate="menu.products.geodns")
						li
							a(ui-sref="i18n.product.golddns({lang: lang})",translate="menu.products.golddns")
				li.has-dropdown(ng-controller="LangChooserCtrl")
					a.scroll(ng-show="i18n")
						| Language
						i.fa.fa-caret-down
					ul.dropdown(ng-show="i18n")
						li(ng-repeat="l in i18n.otherLang")
							a(href="{{ i18n.href[l] }}") {{ l | translate }}
