section.hero#hero(analytics-on="scrollby", analytics-event="hero", analytics-category="scroll", ng-controller="HeroCtrl")
	.container
		.hero-wrapper
			.hero-slider(ng-class="{slide0: slideIndex == 0, slide1: slideIndex == 1}")
				//.slide(ng-show="slideIndex == 0")
					.row
						.col-lg-12.col-md-12.col-sm-12
							h1.text-light.text-left(style="margin-top:50px;",translate="hero.title")
							span(translate="hero.content")
				.slide(ng-show="slideIndex == 0")
					h1
						span.icon-home
						| {{'products.dyndns.name'|translate}}
					.row
						.col-lg-6.col-md-6.col-sm-6
							div(translate="products.dyndns.teaser.text")
							a.btn.btn-primary(ui-sref="i18n.product.dyndns",translate="products.dyndns.link")
						.col-lg-6.col-md-6.col-sm-6
							.scalable.scalable-16-9
								.scalable-content(translate="products.dyndns.video")
				.slide(ng-show="slideIndex == 1")
		//.bx-controls.bx-has-pager
			.bx-pager.bx-default-pager
				.bx-pager-item
					a.bx-pager-link(href='', ng-click="showSlide(0)", ng-class="{active: slideIndex == 0}") 1
				.bx-pager-item
					a.bx-pager-link(href='', ng-click="showSlide(1)", ng-class="{active: slideIndex == 1}") 2
