section.hero#hero(analytics-on="scrollby", analytics-event="scroll", analytics-category="hero")
	.container
		.row
			.hero-slider
				.slide.first-slide
					.col-sm-5
						h2.text-light.text-left(style="margin-top:50px;",translate="hero.title")
						p(translate="hero.content")
						//a.btn.btn-primary(ui-sref="i18n.home",translate="hero.button")
					.col-sm-7.animated.hidden-xs
						img.pull-right(src="images/hero.png", width="256", height="256", alt="")
