section.hero
	.container
		.row
			.hero-slider
				.slide.first-slide
					.col-lg-5.col-md-5.col-sm-5.animated
						h2.text-light.text-left(style="margin-top:50px;") deSEC
						p Update your website's security to the state of the art.
						p Be one step ahead of criminals and government agencies.
						a.btn.btn-primary(href="#wizard") Start using deSEC now
					.col-lg-7.col-md-7.col-sm-7.animated
						img.pull-right(src="bower_components/ultima/img/hero-slider/imac.png", width="689", height="659", alt="Components and Styles")
				.slide
					.col-lg-5.col-md-5.col-sm-5.animated.fadeInUp
						h2.text-light.text-left(style="margin-top:50px;") Coming Soon Page
						p Have a look at Ultima Coming soon page!
						p
							| While your landing page is under construction show your visitors beautiful coming soon page with the coundown and subscription form.
						p And they always stay connected.
						a.btn.btn-primary(href="coming-soon.html") Go to Coming soon page
					.col-lg-7.col-md-7.col-sm-7.animated.fadeInRight
						img.iphone(src="bower_components/ultima/img/hero-slider/iphone.png", width="649", height="400", alt="Coming Soon Page")
