section.hero
	.container
		.row
			.hero-slider
				.slide.first-slide
					.col-sm-5
						h2.text-light.text-left(style="margin-top:50px;",translate="hero.title")
						p(translate="hero.content")
						//a.btn.btn-primary(ui-sref="i18n.home",translate="hero.button")
					.col-sm-7.animated
						img.pull-right(src="bower_components/ultima/img/hero-slider/imac.png", width="400", height="400", alt="Components and Styles")
