section.hero#hero(analytics-on="scrollby", analytics-event="hero", analytics-category="scroll")
	.container
		.row
			.hero-slider
				.slide.first-slide
					h2.text-light.text-left(style="margin-top:50px;",translate="hero.title")
					//| {{ 'hero.content' | translate }}
					span(translate="hero.content")
