section#apps.page-block.mobile-apps
	.container
		.row.page-header
			h2 Mobile apps
			span Subtext for header
		.row
			.col-lg-4.col-md-4
				.row
					.col-lg-12.col-md-12.col-sm-12
						.row.space-bottom
							.col-lg-9.col-md-9
								h3 Run on any device
							.col-lg-3.col-md-3
								img.img-center(src="bower_components/ultima/img/apps-icon.png", alt="Mobile Apps")
						.row
							.col-lg-12.col-md-12
								p.text-justify
									| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						.row
							.col-lg-10.col-md-11
								a.btn.btn-primary.btn-block(href="#")
									i.icon-android
									| Available on Google Play
								a.btn.btn-primary.btn-block(href="#")
									i.icon-apple
									| Available on App Store
								a.btn.btn-primary.btn-block(href="#")
									i.icon-windows8
									| Windows Marketplace
			.col-lg-8.col-md-8
				img.double-space-top(src="bower_components/ultima/img/tablet.png", alt="Mobile Apps")
		
