div.wizard(ng-controller="SubscribeCtrl")
	div.header
		h3(translate="products.beta.apply.headline")
	form.wizard-form.body(name="MailchimpSubscriptionForm", ng-controller="MailchimpSubscriptionCtrl", novalidate)
		input.hidden(type="hidden", ng-model="mailchimp.username", ng-init="mailchimp.username='desec'")
		input.hidden(type="hidden", ng-model="mailchimp.dc", ng-init="mailchimp.dc='us10'")
		input.hidden(type="hidden", ng-model="mailchimp.u", ng-init="mailchimp.u='603c4db2265f369b56f5cd700'")
		input.hidden(type="hidden", ng-model="mailchimp.id", ng-init="mailchimp.id='c96453cafb'")
		input.hidden(type="hidden", ng-model="mailchimp.product", ng-init="mailchimp.PRODUCT=product")
		.wizard-step(ng-class="{active: !mailchimp.result}")
			.tabs
				//p(translate="products.dnshosting.content")
				.tab.active
					.row
						.col-sm-12
							.form-group
								label(for="email", translate="products.beta.apply.email.label")
								input.form-control(type="email", name="email", ng-model="mailchimp.EMAIL", placeholder="{{ 'products.beta.apply.email.placeholder' | translate }}", required="")
						.col-sm-12
							.form-group
								label(for="product", translate="products.beta.apply.product.label")
								select.form-control(name="pricingplan", ng-model="mailchimp.PRICINGPLA")
									option(value="free") free
									option(value="standard") standard
									option(value="premium") premium
									option(value="gold") gold
									option(value="undecided") (undecided)
					.row
						.col-sm-12
							.checkbox
								label
									input(type="checkbox", name="geodns", ng-init="mailchimp.GEODNS='plain'", ng-model="mailchimp.GEODNS", ng-true-value="'geodns'", ng-false-value="'plain'")
									div(translate="products.beta.apply.geodns.label")
		.wizard-step(ng-class="{active: mailchimp.result}")
			.tabs
				.tab.active.row
					.col-sm-12
						// Show animation while waiting
						div(ng-show="mailchimp.result === true", ng-cloak="")
							span(translate="products.beta.apply.waiting")
						// Show error message if MailChimp unsuccessfully added the email to the list.
						div(ng-show="mailchimp.result === 'error'", ng-cloak="")
							span(ng-bind-html="mailchimp.errorMessage")
						// Show success message if MailChimp returned successfully.
						div(ng-show="mailchimp.result === 'success'", ng-cloak="")
							span(ng-bind-html="mailchimp.successMessage")
		.wizard-footer.group
			.buttons
				button.btn(ng-show="mailchimp.result==='success'", ng-click="mailchimp.result=undefined;mailchimp.EMAIL='';",translate="products.beta.apply.more")
				button.btn(ng-show="mailchimp.result==='error'||mailchimp.result===true", ng-click="mailchimp.result=undefined",translate="products.beta.apply.back")
				button.btn.btn-primary(ng-disabled="MailchimpSubscriptionForm.$invalid", ng-show="!mailchimp.result", ng-click="mailchimp.result=true;addSubscription(mailchimp);track();",translate="products.beta.apply.submit", analytics-event="newsletter-signup", analytics-category="{{mailchimp.PRODUCT}}", analytics-on="click")
				button.btn.btn-primary(ng-disabled="true", ng-show="mailchimp.result===true",translate="products.beta.apply.submit")
				
		

