section#pricing.page-block(analytics-on="scrollby", analytics-event="pricing", analytics-category="scroll")
	.container
		.row.page-header
			h2(translate="plans.headline")
		.row.row-vertical-sm-flex-end
			.col-lg-6.col-md-6.col-sm-6
				.pricing-plan
					.header
						h3
							span.icon-home
							| {{'products.dyndns.name'|translate}}
					.body
						ul
							li(translate="plans.dyndns.content")  
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.dyndns",translate="products.dyndns.link")
			.col-lg-6.col-md-6.col-sm-6
				.pricing-plan
					.header
						h3
							span.icon-earth
							| {{'products.anydns.name'|translate}}
					.body
						ul
							li(translate="plans.anydns.content")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.anydns",translate="products.anydns.link")
