section#pricing.page-block.color(analytics-on="scrollby", analytics-event="pricing", analytics-category="scroll")
	.container
		.row.page-header
			h2(translate="products.headline")
			span(translate="products.content")
		.row.row-vertical-sm-flex-end
			//.col-sm-5ths.pointer(ui-sref="i18n.product.dyndns")
			.col-lg-6.col-md-6.col-sm-6
				.pricing-plan
					.header
						h3
							img(src="/images/plans/dynDNS-48i.png")
							|{{'products.dyndns.name'|translate}}
					.body
						ul
							li(translate="products.dyndns.content")  
						//ul
							li(translate="products.dyndns.feature1")
							li(translate="products.dyndns.feature2")
							li(translate="products.dyndns.feature3")
							li(translate="products.dyndns.feature4")
							li(translate="products.dyndns.feature5")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.dyndns",translate="products.dyndns.link")
			//.col-sm-5ths.pointer(ui-sref="i18n.product.tunneldns")
				.pricing-plan
					.header
						h3
							img(src="/images/plans/tunnelDNS-48i.png")
							|{{'products.tunneldns.name'|translate}}
					.body
						ul
							li(translate="products.tunneldns.feature1")
							li(translate="products.tunneldns.feature2")
							li(translate="products.tunneldns.feature3")
							li(translate="products.tunneldns.feature4")
							li(translate="products.tunneldns.feature5")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.tunneldns",translate="products.tunneldns.link")
			//.col-sm-5ths.pointer(ui-sref="i18n.product.anydns")
			.col-lg-6.col-md-6.col-sm-6
				.pricing-plan
					.header
						h3
							img(src="/images/plans/anyDNS-48i.png")
							|{{'products.anydns.name'|translate}}
					.body
						ul
							li(translate="products.anydns.content")
						//ul
							li(translate="products.anydns.feature1")
							li(translate="products.anydns.feature2")
							li(translate="products.anydns.feature3")
							li(translate="products.anydns.feature4")
							li(translate="products.anydns.feature5")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.anydns",translate="products.anydns.link")
			//.col-sm-5ths.pointer(ui-sref="i18n.product.geodns")
				.pricing-plan
					.header
						h3
							img(src="/images/plans/geoDNS-48i.png")
							|{{'products.geodns.name'|translate}}
					.body
						ul
							li(translate="products.geodns.feature1")
							li(translate="products.geodns.feature2")
							li(translate="products.geodns.feature3")
							li(translate="products.geodns.feature4")
							li(translate="products.geodns.feature5")
							li(translate="products.geodns.feature6")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.geodns",translate="products.geodns.link")
			//.col-sm-5ths.pointer(ui-sref="i18n.product.golddns")
				.pricing-plan
					.header
						h3
							img(src="/images/plans/goldDNS-48i.png")
							|{{'products.golddns.name'|translate}}
					.body
						ul
							li(translate="products.golddns.feature1")
							li(translate="products.golddns.feature2")
							li(translate="products.golddns.feature3")
							li(translate="products.golddns.feature4")
							li(translate="products.golddns.feature5")
							li(translate="products.golddns.feature6")
							li(translate="products.golddns.feature7")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.golddns",translate="products.golddns.link")
