section#pricing.page-block
	.container
		.row.page-header
			h2(translate="products.headline")
			span(translate="products.content")
		.row
			.col-lg-5th.col-md-5ths.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="products.dyndns.name")
						span.price(translate="products.dyndns.price")
					.body
						ul
							li(translate="products.dyndns.feature1")
							li(translate="products.dyndns.feature2")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.dyndns",translate="products.dyndns.link")
			.col-lg-5ths.col-md-5ths.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="products.tunneldns.name")
						span.price(translate="products.tunneldns.price")
					.body
						ul
							li(translate="products.tunneldns.feature1")
							li(translate="products.tunneldns.feature2")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.tunneldns",translate="products.tunneldns.link")
			.col-lg-5ths.col-md-5ths.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="products.anydns.name")
						span.price(translate="products.anydns.price")
					.body
						ul
							li(translate="products.anydns.feature1")
							li(translate="products.anydns.feature2")
							li(translate="products.anydns.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.anydns",translate="products.anydns.link")
			.col-lg-5ths.col-md-5ths.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="products.geodns.name")
						span.price(translate="products.geodns.price")
					.body
						ul
							li(translate="products.geodns.feature1")
							li(translate="products.geodns.feature2")
							li(translate="products.geodns.feature3")
							li(translate="products.geodns.feature4")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.geodns",translate="products.geodns.link")
			.col-lg-5ths.col-md-5ths.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="products.golddns.name")
						span.price(translate="products.golddns.price")
					.body
						ul
							li(translate="products.golddns.feature1")
							li(translate="products.golddns.feature2")
							li(translate="products.golddns.feature3")
							li(translate="products.golddns.feature4")
							li(translate="products.golddns.feature5")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.golddns",translate="products.golddns.link")
