section#pricing.page-block
	.container
		.row.page-header
			h2 Pricing plans
			span Subtext for header
		.row
			.col-lg-4.col-md-4.col-sm-4
				.pricing-plan
					.header
						h3 Pricing Plan 01
						span.price 9.99 $
					.body
						ul
							li Lots of Components
							li Cool Icons
							li Unlimited colors
						.buy-btn
							a.btn.btn-primary(href="#") Buy
			.col-lg-4.col-md-4.col-sm-4
				.pricing-plan.highlited
					.header
						h3 Pricing Plan 02
						span.price 19.99 $
					.body
						ul
							li Lots of Components
							li Cool Icons
							li Unlimited colors
						.buy-btn
							a.btn.btn-primary(href="#") Buy
			.col-lg-4.col-md-4.col-sm-4
				.pricing-plan
					.header
						h3 Pricing Plan 03
						span.price 149.99 $
					.body
						ul
							li Lots of Components
							li Cool Icons
							li Unlimited colors
						.buy-btn
							a.btn.btn-primary(href="#") Buy
		
