section#pricing.page-block
	.container
		.row.page-header
			h2(translate="pricing.headline")
			span(translate="pricing.subheadline")
		.row.row-vertical-sm-flex-end
			.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="pricing.dyndns.headline")
						span.price(translate="pricing.dyndns.price")
					.body
						ul
							li(translate="pricing.dyndns.feature1")
							li(translate="pricing.dyndns.feature2")
							li(translate="pricing.dyndns.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.dyndns",translate="pricing.dyndns.link")
			.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="pricing.tunneldns.headline")
						span.price(translate="pricing.tunneldns.price")
					.body
						ul
							li(translate="pricing.tunneldns.feature1")
							li(translate="pricing.tunneldns.feature2")
							li(translate="pricing.tunneldns.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.tunneldns",translate="pricing.tunneldns.link")
			.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="pricing.anydns.headline")
						span.price(translate="pricing.anydns.price")
					.body
						ul
							li(translate="pricing.anydns.feature1")
							li(translate="pricing.anydns.feature2")
							li(translate="pricing.anydns.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.anydns",translate="pricing.anydns.link")
			.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="pricing.geodns.headline")
						span.price(translate="pricing.geodns.price")
					.body
						ul
							li(translate="pricing.geodns.feature1")
							li(translate="pricing.geodns.feature2")
							li(translate="pricing.geodns.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.geodns",translate="pricing.geodns.link")
			.col-sm-5ths
				.pricing-plan
					.header
						h3(translate="pricing.golddns.headline")
						span.price(translate="pricing.golddns.price")
					.body
						ul
							li(translate="pricing.golddns.feature1")
							li(translate="pricing.golddns.feature2")
							li(translate="pricing.golddns.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.golddns",translate="pricing.golddns.link")					
