section#pricing.page-block
	.container
		.row.page-header
			h2(translate="pricing.headline")
			span(translate="pricing.subheadline")
		.row
			.col-lg-4.col-md-4.col-sm-4
				.pricing-plan
					.header
						h3(translate="pricing.plan1.headline")
						span.price(translate="pricing.plan1.price")
					.body
						ul
							li(translate="pricing.plan1.feature1")
							li(translate="pricing.plan1.feature2")
							li(translate="pricing.plan1.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.silver",translate="pricing.plan1.link")
			.col-lg-4.col-md-4.col-sm-4
				.pricing-plan
					.header
						h3(translate="pricing.plan2.headline")
						span.price(translate="pricing.plan2.price")
					.body
						ul
							li(translate="pricing.plan2.feature1")
							li(translate="pricing.plan2.feature2")
							li(translate="pricing.plan2.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.gold",translate="pricing.plan2.link")
			.col-lg-4.col-md-4.col-sm-4
				.pricing-plan
					.header
						h3(translate="pricing.plan3.headline")
						span.price(translate="pricing.plan3.price")
					.body
						ul
							li(translate="pricing.plan3.feature1")
							li(translate="pricing.plan3.feature2")
							li(translate="pricing.plan3.feature3")
						.buy-btn
							a.btn.btn-primary(ui-sref="i18n.product.platinum",translate="pricing.plan3.link")
