section#social.page-block
	.container
		.row.page-header
			h2 Find us on social networks
			span Subtext for header
		.row
			.col-lg-12
				.social-networks
					a.icon-facebook.tooltipped(href="#", title="Facebook")
					a.icon-instagram.tooltipped(href="#", title="Instagram")
					a.icon-twitter.tooltipped(href="#", title="Twitter")
					a.icon-google-plus.tooltipped(href="#", title="Google+")
					a.icon-youtube.tooltipped(href="#", title="Youtube")
					a.icon-tumblr.tooltipped(href="#", title="Tumblr")
