section#team.page-block.team
	.container
		.row.page-header
			h2 Meet our team
			span Subtext for header
		.row
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="bower_components/ultima/img/team/dirk.jpg", alt="Dexter Dirk")
				h3 Dexter Dirk
				p Senior designer
				.social-networks
					a.icon-facebook.tooltipped(href="#", title="Facebook")
					a.icon-instagram.tooltipped(href="#", title="Instagram")
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="bower_components/ultima/img/team/roe.jpg", alt="Alexander Roe")
				h3 Alexander Roe
				p Financial director
				.social-networks
					a.icon-twitter.tooltipped(href="#", title="Twitter")
					a.icon-google-plus.tooltipped(href="#", title="Google+")
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="bower_components/ultima/img/team/davis.jpg", alt="Susanna Davis")
				h3 Susanna Davis
				p Art director
				.social-networks
					a.icon-youtube.tooltipped(href="#", title="Youtube")
					a.icon-tumblr.tooltipped(href="#", title="Tumblr")
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="bower_components/ultima/img/team/doe.jpg", alt="Jonathan Doe")
				h3 Jonathan Doe
				p Technical support
				.social-networks
					a.icon-facebook.tooltipped(href="#", title="Facebook")
					a.icon-twitter.tooltipped(href="#", title="Twitter")
		
