section#team.page-block.team(analytics-on="scrollby", analytics-event="scroll", analytics-category="team")
	.container
		.row.page-header
			h2(translate="team.headline")
			span(translate="team.subheadline")
		.row
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="images/team/peter.jpg", alt="Peter Thomassen")
				h3 Peter Thomassen
				//p Senior designer
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="images/team/claudius.jpg", alt="Claudius Kirchhoff")
				h3 Claudius Kirchhoff
				//p Financial director
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="images/team/jan.jpg", alt="Jan Binger")
				h3 Jan Binger
				//p Art director
			.col-lg-3.col-md-3.col-sm-3
				img.img-circle-thumbnail.img-center(src="images/team/nils.jpg", alt="Nils Wisiol")
				h3 Nils Wisiol
				//p Art director
		
