section.product.page-block
	.container
		.row.page-header
			h2 How to Configure Your dynDNS Client
			span
				| Configuring your client to send your IP address to our servers can be a pain. Here's how to do it.
				| Depending on your use case, one of the following options might be easier than the others. As always,
				| we appreciate your feedback. <a href="mailto:input@desec.io">Shoot us an email!</a>
		.row
			.col-md-offset-3.col-md-9
				h3 Option 1: Use Your Router
				p
					| For most folks, using the integrated dynDNS client of their router will be easiest. The configuration
					| procedures vary for all routers which is why we can't provide a tutorial for all of them. However,
					| most of the time it boils down to enter the following details in your router configuration:
					ul
						li
							| Update Server 
							code update.dedyn.io
							| or Update URL
							code https://update.dedyn.io/
						li
							| Username 
							em (your dedyn.io hostname, e.g. <code>yourname.dedyn.io</code>)
						li
							| Hostname 
							em (same as your username)
						li
							| Password 
							em (as provided in the email we sent you)
				h4 IPv6 Support
				p
					| There is a chance that your router already properly supports pushing its IPv6 address to us. If 
					| it does not, you can try to let our servers determine your IPv6 address by using IPv6 to connect. To see
					| if this method works for you, modify the "update server" or "update URL" setting in your router's configuration to
					| <code>update6.dedyn.io</code> and <code>https://update6.dedyn.io/</code>, respectively.


				h3 Option 2: Use ddclient
				p
					| If you're on Debian, Ubuntu or any other Linux distribution that provides you with the ddclient package, 
					| you can use it to update your IP address with our servers. Although there is no official IPv6 support in 
					| ddclient yet, you can use it to update your IPv6 address under certain conditions (see below).
				h4 Install ddclient
				p
					| To install ddclient, use
					code sudo apt-get install ddclient
					| If apt-get doesn't ask you to configure ddclient, use
					code sudo dpkg-reconfigure ddclient
					| to start the configuration process.
				p
					| In the configuration process, select "other" dynamic DNS service provider, and enter
					code update.dedyn.io
					| as the dynamic DNS server. Next, tell ddclient to use the "dyndns2" protocol to perform updates. Afterwards, enter the username and password we sent you via email upon registration.
					| Last, tell ddclient how to detect your IP address, your domain name and the update interval.
				h4 Enable SSL by Default
				p
					| ddclient doesn't use SSL by default. To fix this, open
					code /etc/ddclient.conf
					| and add
					code ssl=yes
					| above the
					code server=
					| statement.
				h4 Test Your Setup
				p
					| On the command line, use
					code sudo ddclient -force
					| to see if everything works as expected.
				h4 Optional: Determine IP Address Remotely
				p
					| If your setup does not allow your public IP address to be determined from one of your interfaces, you can let ddclient use our
					| servers to determine your address. To do so, you will need
					code curl
					| installed. Then, right above the
					code server=update.dedyn.io
					| line, simply add the following line
					pre use=cmd, cmd='curl https://checkipv4.dedyn.io/'
					| to your ddclient configuration file.
				p
					| (We provide the same service for dual stack and IPv6 at
					code https://checkip.dedyn.io/
					| and
					code https://checkipv6.dedyn.io/
					|, respectively; however, ddclient doesn't support IPv6 addresses at the time of writing.)
				h4 Optional: Add IPv6 Support
				p
					| Unfortunately, ddclient doesn't support IPv6 yet. However, if you have a native IPv6 connection to the Internet,
					| you can force ddclient to connect to our servers with IPv6 by using 
					code update6.dedyn.io
					| in the
					code server=
					| statement. Our server will then use the remote IPv6 address to generate your AAAA record. After another update, use
					code host yourname.dedyn.io ns2.desec.io
					| to see if your domain is v6-ready.
