doctype html
//if IE 9
	html.ie.ie9(lang="en",ng-app="desecClientApp")
html(ng-app="desecClientApp")
	head(ng-controller="LangChooserCtrl")
		meta(charset="utf-8")
		title deSEC
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		link(rel="apple-touch-icon", href="images/apple-touch-icon-iphone.png")
		link(rel="apple-touch-icon", sizes="72x72", href="images/apple-touch-icon-ipad.png")
		link(rel="apple-touch-icon", sizes="114x114", href="images/apple-touch-icon-iphone4.png")

		// Google ajax crawling
		meta(name="fragment",content="!")
		
		// Favicon
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="icon", href="favicon.ico", type="image/x-icon")

		// Google Fonts
		link(href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700", rel="stylesheet", type="text/css")
		
		// build:css(.) vendor.css
		// Bootstrap 3.1.1
		link(href="/bower_components/ultima/css/bootstrap.min.css", rel="stylesheet", media="screen")
		// Icon Fonts
		link(href="/bower_components/ultima/css/font-awesome.min.css", rel="stylesheet", media="screen")
		link(href="/bower_components/ultima/css/icon-moon.css", rel="stylesheet", media="screen")
		// Animations
		link(href="/bower_components/ultima/css/animate.css", rel="stylesheet", media="screen")
		// Theme Styles
		link(href="/bower_components/ultima/css/theme-styles.css", rel="stylesheet", media="screen")
		// Color Schemes
		link(href="/bower_components/ultima/css/colors/color-default.css", rel="stylesheet", media="screen")
		// endbuild
		
		// build:css(.tmp) custom.css
		link(href="/styles/fixes.css", rel="stylesheet", media="screen")
		link(href="/styles/main.css", rel="stylesheet", media="screen")
		link(href="/styles/colors.css", rel="stylesheet", media="screen")
		// endbuild
	
		link(ng-if="i18n.enabled",ng-repeat="l in i18n.otherLang",rel="alternate",hreflang="{{ l }}",href="{{ i18n.href[l] }}")

	// Body
	body.space-top(ng-controller="ScrollToTopCtrl")
		include partials/googleanalytics.jade
		
		include partials/preloader.jade
		include partials/header.jade
		
		ui-view()
		
		include partials/footer.jade

		// Scroll To Top Button
		#scroll-top.scroll-up(ng-click="top()")
			i.icon-arrow-up

		// build:js(.) scripts/vendor.js
		// Javascript (jQuery) Libraries and Plugins
		script(src="/bower_components/angular/angular.js")
		script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
		script(src="/bower_components/angular-translate/angular-translate.js")
		script(src="/bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js")
		script(src="/bower_components/angular-resource/angular-resource.js")
		script(src="/bower_components/angular-sanitize/angular-sanitize.js")
		script(src="/bower_components/angular-mailchimp/angular-mailchimp.js")
		script(src="/bower_components/angulartics/src/angulartics.js")
		script(src="/bower_components/angulartics/src/angulartics-ga.js")
		script(src="/bower_components/ultima/js/libs/jquery-1.10.2.min.js")
		script(src="/bower_components/ultima/js/plugins/waypoints.min.js")
		// endbuild

		// build:js(app) scripts/custom.js
		script(src="/scripts/lib/angulartics-scroll.js")
		script(src="/scripts/landing2.js")
		script(src="/scripts/app.js")
		script(src="/scripts/states.js")
		script(src="/scripts/controllers/langChooser.js")
		script(src="/scripts/controllers/faq.js")
		script(src="/scripts/controllers/scrolltotop.js")
		script(src="/scripts/controllers/navigation.js")
		script(src="/scripts/controllers/subscribe.js")
		script(src="/scripts/controllers/logjam-scanner.js")
		script(src="/scripts/services/adwords-conversion.js")
		// endbuild
