doctype html
html(lang="en")
	head
		title pageTitle
	body
		h1 Jade - node template engine
		p.
			Jade is a terse and simple
			templating language with a
			strong focus on performance
			and powerful features.
