doctype html
//if IE 9
	html.ie.ie9(lang="en",ng-app="desecClientApp")
html(ng-app="desecClientApp")
	head(ng-controller="LangChooserCtrl")
		meta(charset="utf-8")
		title deSEC
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		// Google ajax crawling
		meta(name="fragment",content="!")
		
		// Favicon
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="icon", href="favicon.ico", type="image/x-icon")

		// build:css(.) vendor.css
		// Google Fonts
		link(href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700", rel="stylesheet", type="text/css")
		// Bootstrap 3.1.1
		link(href="/bower_components/ultima/css/bootstrap.min.css", rel="stylesheet", media="screen")
		// Icon Fonts
		link(href="/bower_components/ultima/css/font-awesome.min.css", rel="stylesheet", media="screen")
		link(href="/bower_components/ultima/css/icon-moon.css", rel="stylesheet", media="screen")
		// Animations
		link(href="/bower_components/ultima/css/animate.css", rel="stylesheet", media="screen")
		// Theme Styles
		link(href="/bower_components/ultima/css/theme-styles.css", rel="stylesheet", media="screen")
		// Color Schemes
		link(href="/bower_components/ultima/css/colors/color-default.css", rel="stylesheet", media="screen")
		// Modernizr
		script(src="/bower_components/ultima/js/libs/modernizr.custom.js")
		// endbuild
		
		// build:css(.) custom.css
		link(href="styles/main.css", rel="stylesheet", media="screen")
		// endbuild
	
		link(ng-repeat="l in i18n.otherLang",rel="alternative",hreflang="{{ l }}",href="{{ i18n.href[l] }}")

	// Body
	body.space-top
		include partials/preloader.jade
		include partials/header.jade
		
		ui-view()
		
		include partials/footer.jade

		// Scroll To Top Button
		#scroll-top.scroll-up
			i.icon-arrow-up

		// build:js(.) scripts/vendor.js
		// Javascript (jQuery) Libraries and Plugins
		script(src="/bower_components/angular/angular.js")
		script(src="/bower_components/angular-ui-router/release/angular-ui-router.js")
		script(src="/bower_components/angular-translate/angular-translate.js")
		script(src="/bower_components/ultima/js/libs/jquery-1.10.2.min.js")
		script(src="/bower_components/ultima/js/libs/modernizr.custom.js")
		script(src="/bower_components/ultima/js/libs/jquery.easing.1.3.js")
		script(src="/bower_components/ultima/js/plugins/bootstrap.min.js")
		script(src="/bower_components/ultima/js/plugins/jquery.touchSwipe.min.js")
		script(src="/bower_components/ultima/js/plugins/jquery.placeholder.js")
		script(src="/bower_components/ultima/js/plugins/jquery.validate.min.js")
		script(src="/bower_components/ultima/js/plugins/gallery.js")
		script(src="/bower_components/ultima/js/plugins/jquery.fitvids.js")
		script(src="/bower_components/ultima/js/plugins/jquery.bxslider.min.js")
		script(src="/bower_components/ultima/js/plugins/chart.js")
		script(src="/bower_components/ultima/js/plugins/waypoints.min.js")
		script(src="/bower_components/ultima/js/plugins/smoothscroll.js")
		// endbuild

		// build:js(app) scripts/custom.js
		script(src="/scripts/landing2.js")
		script(src="/scripts/app.js")
		script(src="/scripts/states.js")
		script(src="/scripts/controllers/langChooser.js")
		script(src="/scripts/controllers/faq.js")
		// endbuild
