doctype html
//if IE 9
	html.ie.ie9(lang="en",ng-app="densClientApp")
html(ng-app="densClientApp")
	head
		meta(charset="utf-8")
		title deNS
		meta(name="description", content="")
		meta(name="keywords", content="")
		meta(name="author", content="")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		// Favicon
		link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
		link(rel="icon", href="favicon.ico", type="image/x-icon")
		// Google Fonts
		link(href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700", rel="stylesheet", type="text/css")
		// Bootstrap 3.1.1
		link(href="bower_components/ultima/css/bootstrap.min.css", rel="stylesheet", media="screen")
		// Icon Fonts
		link(href="bower_components/ultima/css/font-awesome.min.css", rel="stylesheet", media="screen")
		link(href="bower_components/ultima/css/icon-moon.css", rel="stylesheet", media="screen")
		// Animations
		link(href="bower_components/ultima/css/animate.css", rel="stylesheet", media="screen")
		// Theme Styles
		link(href="bower_components/ultima/css/theme-styles.css", rel="stylesheet", media="screen")
		// Color Schemes
		link(href="bower_components/ultima/css/colors/color-default.css", rel="stylesheet", media="screen")
		// Modernizr
		script(src="bower_components/ultima/js/libs/modernizr.custom.js")
		// Adding Media Queries and Canvas Support for IE8
		//if lt IE 9
			script(src="js/plugins/respond.min.js")
			script(src="js/plugins/excanvas.js")
		
		script(src="bower_components/angular/angular.js")
		script(src="scripts/app.js")
		script(src="scripts/controllers/signup.js")
	// Body
	body.space-top
		include partials/preloader.jade
		include partials/login.jade
		include partials/header.jade
		include partials/hero.jade
		include partials/signup.jade
		include partials/features.jade
		include partials/charts.jade
		include partials/gallery.jade
		include partials/pricing.jade
		include partials/faq.jade
		include partials/testimonials.jade
		include partials/mobileapps.jade
		include partials/team.jade
		include partials/contacts.jade
		include partials/social.jade
		include partials/footer.jade
		
		// Scroll To Top Button
		#scroll-top.scroll-up
			i.icon-arrow-up
		
		// Javascript (jQuery) Libraries and Plugins
		script(src="bower_components/ultima/js/libs/jquery-1.10.2.min.js")
		script(src="bower_components/ultima/js/libs/jquery.easing.1.3.js")
		script(src="bower_components/ultima/js/plugins/bootstrap.min.js")
		script(src="bower_components/ultima/js/plugins/jquery.touchSwipe.min.js")
		script(src="bower_components/ultima/js/plugins/jquery.placeholder.js")
		script(src="bower_components/ultima/js/plugins/jquery.validate.min.js")
		script(src="bower_components/ultima/js/plugins/gallery.js")
		script(src="bower_components/ultima/js/plugins/jquery.fitvids.js")
		script(src="bower_components/ultima/js/plugins/jquery.bxslider.min.js")
		script(src="bower_components/ultima/js/plugins/chart.js")
		script(src="bower_components/ultima/js/plugins/waypoints.min.js")
		script(src="bower_components/ultima/js/plugins/smoothscroll.js")
		script(src="scripts/landing2.js")
