section.product.page-block
	.container
		.row.page-header
			h2(translate="product.anycastdns.title")
		.row
			//.col-lg-3
				.pricing-plan
					.header
						h3
							span.icon-earth
							| {{'products.anycastdns.name'|translate}}
						span.price(translate="products.anycastdns.price")
					//ul
						li(translate="products.anycastdns.feature1")
						li(translate="products.anycastdns.feature2")
						li(translate="products.anycastdns.feature3")
						li(translate="products.anycastdns.feature4")
						li(translate="products.anycastdns.feature5")
			.col-lg-6(ng-init="product='anycastdns'")
				p(translate="product.anycastdns.content")
				h3(translate="products.anycastdns.pricing.title")
				p(translate="products.anycastdns.pricing.text")
				table.table
					tr
						th(translate="products.anycastdns.pricing.th.product")
						th(translate="products.anycastdns.pricing.th.nRecords")
						th(translate="products.anycastdns.pricing.th.nQueries")
						th(translate="products.anycastdns.pricing.th.price")
					tr
						td(translate="products.anycastdns.pricing.td.product1")
						td(translate="products.anycastdns.pricing.td.nRecords1")
						td(translate="products.anycastdns.pricing.td.nQueries1")
						td(translate="products.anycastdns.pricing.td.price1")
					tr
						td(translate="products.anycastdns.pricing.td.product2")
						td(translate="products.anycastdns.pricing.td.nRecords2")
						td(translate="products.anycastdns.pricing.td.nQueries2")
						td(translate="products.anycastdns.pricing.td.price2")
					tr
						td(translate="products.anycastdns.pricing.td.product3")
						td(translate="products.anycastdns.pricing.td.nRecords3")
						td(translate="products.anycastdns.pricing.td.nQueries3")
						td(translate="products.anycastdns.pricing.td.price3")
					tr
						td(translate="products.anycastdns.pricing.td.product4")
						td(translate="products.anycastdns.pricing.td.nRecords4")
						td(translate="products.anycastdns.pricing.td.nQueries4")
						td(translate="products.anycastdns.pricing.td.price4")
			.col-lg-6
				include ../../partials/newsletter.jade
