section#features.page-block
	.container
		.row.page-header
			h2(translate="products.anydns.title")
			span(translate="products.anydns.content")
	.row(ng-init="product='anydns'")
			.col-lg-12()
				include ../../partials/newsletter.jade
