section#features.page-block
	.container
		.row.page-header
			h2(translate="products.anydns.title")
		.row.product-page
			.col-lg-3
				.pricing-plan
					.header
						h3
							img(src="/images/plans/anyDNS-128i.png")
							|{{'products.anydns.name'|translate}}
						span.price(translate="products.anydns.price")
			.col-lg-9(ng-init="product='anydns'")
				div(translate="products.anydns.content")
				include ../../partials/newsletter.jade
