section#features.page-block
	.container
		.row.page-header
			h2(translate="products.anydns.title")
		.row.product-page
			.col-lg-3
				.pricing-plan
					.header
						h3
							span.icon-spinner3
							| {{'products.anydns.name'|translate}}
						span.price(translate="products.anydns.price")
					//ul
						li(translate="products.anydns.feature1")
						li(translate="products.anydns.feature2")
						li(translate="products.anydns.feature3")
						li(translate="products.anydns.feature4")
						li(translate="products.anydns.feature5")
			.col-lg-9(ng-init="product='anydns'")
				include ../../partials/newsletter.jade
				div(translate="products.anydns.content")
