section#features.page-block
	.container
		.row.page-header
			h2(translate="products.dyndns.title")
		.row.product-page
			.col-lg-3
				.pricing-plan
					.header
						h3(translate="products.dyndns.name")
						span.price(translate="products.dyndns.price")
			.col-lg-9(ng-init="product='dyndns'")
				div(translate="products.dyndns.content")
				include ../../partials/newsletter.jade
