section.product.page-block(ng-controller="DyndnsSignupCtrl")
	.container
		.row.page-header
			h2(translate="product.dyndns.title")
		.row
			.col-md-6
				div(translate="product.dyndns.content")
			.col-md-6(ng-init="product='dyndns'")
				include ../../partials/dyndns-signup-form.jade
