section#features.page-block
	.container
		.row.page-header
			h2(translate="products.geodns.title")
		.row.product-page
			.col-lg-3
				.pricing-plan
					.header
						h3
							img(src="/images/plans/geoDNS-128i.png")
							|{{'products.geodns.name'|translate}}
						span.price(translate="products.geodns.price")
			.col-lg-9(ng-init="product='geodns'")
				div(translate="products.geodns.content")
				include ../../partials/newsletter.jade
