section#features.page-block
	.container
		.row.page-header
			h2(translate="products.golddns.title")
		.row.product-page
			.col-lg-3
				.pricing-plan
					.header
						h3
							img(src="/images/plans/goldDNS-128i.png")
							|{{'products.golddns.name'|translate}}
						span.price(translate="products.golddns.price")
			.col-lg-9(ng-init="product='golddns'")
				div(translate="products.golddns.content")
				include ../../partials/newsletter.jade
