section#features.page-block
	.container
		.row.page-header
			h2(translate="products.golddns.title")
			span(translate="products.golddns.content")
		.row(ng-init="product='golddns'")
			.col-lg-12()
				include ../../partials/newsletter.jade
