section#features.page-block
	.container
		.row.page-header
			h2(translate="features.plan1.headline")
			span(translate="features.plan1.subheadline")
		.row.features
			.col-lg-4.col-md-4.col-sm-4
				.feature-img
					img(src="bower_components/ultima/img/features/feature1.png", width="124", height="120", alt="Editable colors")
				h3(translate="features.plan1.feature1.headline")
				p(translate="features.plan1.feature1.text")
			.col-lg-4.col-md-4.col-sm-4
				.feature-img
					img(src="bower_components/ultima/img/features/feature2.png", width="131", height="131", alt="All you need for start")
				h3(translate="features.plan1.feature2.headline")
				p(translate="features.plan1.feature2.text")
			.col-lg-4.col-md-4.col-sm-4
				.feature-img
					img(src="bower_components/ultima/img/features/feature3.png", width="72", height="72", alt="Clean code")
				h3(translate="features.plan1.feature3.headline")
				p(translate="features.plan1.feature3.text")
