section#features.page-block
	.container
		.row.page-header
			h2(translate="products.tunneldns.title")
		.row.product-page
			.col-lg-3
				.pricing-plan
					.header
						h3
							img(src="/images/plans/tunnelDNS-128i.png")
							|{{'products.tunneldns.name'|translate}}
						span.price(translate="products.tunneldns.price")
			.col-lg-9(ng-init="product='tunneldns'")
				div(translate="products.tunneldns.content")
				include ../../partials/newsletter.jade
