#clean-code.tab-pane.fade.in.active.col-lg-12
	.row
		h1 Domain List
		p(ng-if="domains.length == 0")
			| Nothing here yet. 
			a(ui-sref="dashboard.domainadd") Add a Domain.
		table.table.table-hover(ng-if="domains.length != 0")
			thead
				tr
					td Name
					td Port
					td Serial No
					td Fingerprint
					td TSLA record
			tbody
				tr(ng-repeat="d in domains",ng-class="{'danger': !d.cert_serial_no}")
					td {{ d.name }}
					td {{ d.port }}
					td {{ d.cert_serial_no }}
					td {{ d.cert_fingerprint }}
					td
						pre _{{ d.port }}._tcp.{{ d.name }}. IN TLSA 3 1 1 {{ d.cert_fingerprint }}
					
