h1(translate="TITLE")
include ../partials/hero.jade
//include ../partials/signup.jade
include ../partials/features.jade
include ../partials/charts.jade
include ../partials/gallery.jade
include ../partials/pricing.jade
include ../partials/faq.jade
include ../partials/testimonials.jade
include ../partials/mobileapps.jade
include ../partials/team.jade
include ../partials/contacts.jade
include ../partials/social.jade
