section.page-block
	include ../partials/features.jade
section.page-block
	include ../partials/pricing.jade
section.page-block
	include ../partials/faq.jade
section.page-block
	include ../partials/team.jade
