section.container
	h1 Datenschutzerklärung
	p
		small Stand: Februar 2019
	p Um Ihnen den Umgang mit personenbezogenen Daten bei uns zu erläutern und um alle relevanten gesetzlichen Bestimmungen zum Datenschutz einzuhalten, haben wir, der Verein deSEC, die folgende Datenschutzerklärung erstellt. Sie gilt für alle von uns angebotenen und betriebenen Dienste und Leistungen, insbesondere für unsere Webseite <a href="https://desec.io/">https://desec.io/</a> sowie Präsenzen in Sozialen Netzwerken.
	
	h2 1. Verantwortliche Stelle
	p.
		deSEC<br />
		Kyffhäuserstr. 5<br />
		10781 Berlin<br />
		Germany
	p.
		Vorstandsvorsitzender: Nils Wisiol
	p (im Folgenden: "Wir") sind als Betreiber des DNS-Hosters deSEC und der Website desec.io die verantwortliche Stelle für die personenbezogenen Daten der Nutzer (im Folgenden: "Sie") der Dienste und der Website desec.io im Sinne des Bundesdatenschutzgesetzes ("BDSG").
	p Wir schützen Ihre Privatsphäre und Ihre privaten Daten. Wir erheben, verarbeiten und nutzen Ihre personenbezogenen Daten in Übereinstimmung mit dem Inhalt dieser Datenschutzbestimmungen sowie den anwendbaren deutschen Datenschutzgesetzen, insbesondere dem BDSG sowie dem Telemediengesetz ("TMG").
	
	h2 2. Personenbezogene Daten
	p Personenbezogene Daten im Sinne dieser Datenschutzbestimmungen sind Einzelangaben über Ihre persönlichen oder sachlichen Verhältnisse. Hierzu zählen insbesondere Ihr Name, Ihre Post-, E-Mail- und IP-Adresse sowie Ihre Bankverbindung. Wir werden Ihre personenbezogenen Daten nur erheben oder verwenden, soweit dies für die Ausführung eines Dienstes erforderlich ist oder Sie uns dazu Ihre Einwilligung erteilt haben.
	p Das ist beispielsweise in folgenden Fällen der Fall:
	ol
		li Bei Nutzung unseres dynDNS-Services. Hierbei wird Ihre IP-Adresse durch Ihren Computer an deSEC übertragen und von deSEC öffentlich im DNS zum weltweiten Abruf veröffentlicht.
		li Unsere DNS-Services erlauben unseren Kunden, über die von deSEC angebotenen Schnittstellen Informationen in das DNS zum weltweiten Abruf einzutragen. Alle vom Kunden bei uns hinterlegten DNS-Informationen – einschließlich etwaiger personenbezogenen Daten – sind daher öffentlich.
	
	h2 3. Verwendungszweck
	p Wir verwenden Ihre personenbezogenen Daten zu folgenden Zwecken:
	ol
		li Um die von Ihnen gewünschten Dienste zu erbringen;
		li Um sicherzustellen, dass unsere Dienste in möglichst effektiver und interessanter Weise Ihnen gegenüber präsentiert werden;
		li Um unseren Verpflichtungen aus etwaigen zwischen Ihnen und uns geschlossenen Verträgen nachzukommen;
		li Zur Abwicklung des Zahlungsverkehrs;
		li Um Sie über Änderungen unserer Leistungen zu informieren.
	
	h2 4. Informationen über Ihren Computer, Cookies und Targeting
	p 4.1 Bei jedem Zugriff auf unsere Seite erheben wir folgende Informationen über Ihren Computer: Die IP-Adresse Ihres Computers, die Anfrage Ihres Browsers sowie die Zeit dieser Anfrage. Außerdem werden der Status und die übertragene Datenmenge im Rahmen dieser Anfrage erfasst. Wir erheben auch Produkt- und Versionsinformationen über den verwendeten Browser und das Betriebssystem ihres Computers. Wir erfassen weiter, von welcher Website aus der Zugriff auf unsere Seite erfolgte. Die IP-Adresse Ihres Computers wird dabei nur für die Zeit Ihrer Nutzung der Website gespeichert und im Anschluss daran unverzüglich gelöscht oder durch Kürzung anonymisiert. Die übrigen Daten werden für eine begrenzte Zeitdauer gespeichert. Wir verwenden diese Daten für den Betrieb unserer Website, insbesondere um Fehler der Website festzustellen und zu beseitigen, um die Auslastung der Website festzustellen und um Anpassungen oder Verbesserungen vorzunehmen.
	p 4.2 Unter Umständen erheben wir außerdem Informationen über Ihre Nutzung unserer Website durch die Verwendung sog. Browser-Cookies. Dies sind kleine Textdateien, die auf Ihrem Datenträger gespeichert werden und die bestimmte Einstellungen und Daten zum Austausch mit unserem System über Ihren Browser speichern. Ein Cookie enthält in der Regel den Namen der Domain, von der die Cookie-Daten gesendet wurden sowie Informationen über das Alter des Cookies und ein alphanumerisches Identifizierungszeichen. Sobald ein Nutzer auf die Plattform zugreift, wird ein Cookie an den Computer des jeweiligen Nutzers übermittelt. Cookies helfen uns, unsere Website zu verbessern und Ihnen einen besseren und noch mehr auf Sie zugeschnittenen Service anbieten zu können. Sie ermöglichen uns, Ihren Computer wieder zu erkennen, wenn Sie auf unsere Website zurückkehren und dadurch z.B.:
	ol
		li Informationen über Ihre bevorzugten Aktivitäten auf der Website zu speichern und so unsere Website an Ihren individuellen Interessen auszurichten.
		li Die Geschwindigkeit der Abwicklung Ihrer Anfragen zu beschleunigen;
	p 4.3 In den von uns verwendeten Cookies werden lediglich die oben erläuterten Daten über Ihre Nutzung der Website gespeichert. Dies erfolgt nicht durch eine Zuordnung zu Ihnen persönlich, sondern durch Zuweisung einer Identifikationsnummer zu dem Cookie ("Cookie-ID"). Eine Zusammenführung der Cookie-ID mit Ihrem Namen oder mit ähnlichen Daten, die eine Zuordnung des Cookies zu Ihnen ermöglichen würden, erfolgt nicht.
	p 4.4 Sollten Sie eine Verwendung von Browser-Cookies nicht wünschen, können Sie Ihren Browser so einstellen, dass eine Speicherung von Cookies nicht akzeptiert wird. Bitte beachten Sie, dass Sie unsere Website in diesem Fall ggf. nur eingeschränkt oder gar nicht nutzen können. Wenn Sie nur unsere eigenen Cookies, nicht aber die Cookies unserer Dienstleister und Partner akzeptieren wollen, können Sie in Ihrem Browser die Einstellung "Cookies von Drittanbietern blockieren" wählen.
	
	h2 5. Datensicherheit
	p Leider ist die Übertragung von Informationen über das Internet nicht vollständig sicher, weshalb wir die Sicherheit der über das Internet an unserer Website übermittelten Daten nicht garantieren können. Wir sichern unsere Website und sonstigen Systeme jedoch durch technische und organisatorische Maßnahmen gegen Verlust, Zerstörung, Zugriff, Veränderung oder Verbreitung Ihrer Daten durch unbefugte Personen ab. Insbesondere werden Ihre persönlichen Daten bei uns verschlüsselt übertragen. Wir bedienen uns dabei des Codierungssystems SSL (Secure Socket Layer) bzw. TLS (Transport Layer Security). Während des Verbindungsaufbaus hat Ihr Computer zudem die Möglichkeit, mittels des DNSSEC-Verfahrens zu überprüfen, ob ein Angreifer die Verbindung von unserer auf eine andere IP-Adresse umzuleiten versucht. Ob diese und weitere Prüfungen stattfinden, hängt von der Konfiguration Ihres Computers ab.
	
	h2 6. Keine Weitergabe Ihrer personenbezogenen Daten
	p Wir geben Ihre personenbezogenen Daten nicht an Dritte weiter, es sei denn, Sie haben in die Datenweitergabe eingewilligt oder wir sind aufgrund gesetzlicher Bestimmungen und/oder behördlicher oder gerichtlicher Anordnungen zu einer Datenweitergabe berechtigt oder verpflichtet. Dabei kann es sich insbesondere um die Auskunftserteilung für Zwecke der Strafverfolgung, zur Gefahrenabwehr oder zur Durchsetzung geistiger Eigentumsrechte handeln.
	
	h2 7. Datenschutz und Websites Dritter
	p Die Website kann Hyperlinks zu und von Websites Dritter enthalten. Wenn Sie einem Hyperlink zu einer dieser Websites folgen, beachten Sie bitte, dass wir keine Verantwortung oder Gewähr für fremde Inhalte oder Datenschutzbedingungen übernehmen können. Bitte vergewissern Sie sich über die jeweils geltenden Datenschutzbedingungen, bevor Sie personenbezogene Daten an diese Websites übermitteln.
	
	h2 8. deSEC Dienste und externe Server
	p deSEC nutzt zur Verfügungsstellung seiner Dienste externe Server sowohl innerhalb als auch außerhalb der Europäischen Union.
	
	h2 9. Übertragung des Geschäftsbetriebs
	p deSEC ist berechtigt die Daten aus der Geschäftsbeziehung mit dem Kunden (inklusive personenbezogene Daten) zusammen mit dieser Geschäftsbeziehung an ein Drittes Unternehmen zu übertragen, sofern dieses den Geschäftsbetrieb von deSEC als Ganzes oder einen wesentlichen Teil davon übernimmt. deSEC wird den Kunden hierüber vor Übertragung der Daten hinweisen.
	
	h2 10. Änderungen dieser Datenschutzbestimmungen
	p Wir behalten uns das Recht vor, diese Datenschutzbestimmungen jederzeit mit Wirkung für die Zukunft zu ändern. Eine jeweils aktuelle Version ist auf der Website verfügbar. Bitte suchen Sie die Website regelmäßig auf und informieren Sie sich über die geltenden Datenschutzbestimmungen.
	
	h2 11. Ihre Rechte und Kontakt
	p Sollten Sie Fragen, Kommentare oder Anfragen bezüglich der Erhebung, Verarbeitung und Nutzung Ihrer personenbezogenen Daten durch uns haben, wenden Sie sich bitte ebenfalls an uns unter den angegebenen Kontaktdaten.
